<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sale Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <h1 style="margin-top: 30px">HOME</h1>
    <a class="btn " th:href="@{/product}">Product</a>
    <a class="btn " th:href="@{/sale}">Sale</a>
</div>

</body>

</html>